@charset "utf-8";
/* CSS Document */

h1 {
	background-image: url("modern-blue-halftone-banner-background.jpg");
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: white;
	font-size: 100px;
	text-align: center;
}

footer{
	text-align: center;
}


h2{
	font-weight: bold;
	font-size: 50px;
}

h3{
	font-weight: bold;
	font-size: 50px;
}

h4{
	font-weight: bold;
	font-size: 50px;
}